START MODEL PARAMETERS
LBMODEL: Synthetic255.hdf5
LBRES: 1e-6
GRIDREF: 10
NCOLS: 20
AC: 1e-6
ITERS: 10000
TEMPERATURE: 298
TIMESTEP: 0.00005
END MODEL PARAMETERS

START PHYSICAL PARAMETERS
END PHYSICAL PARAMETERS 

START CHEMICAL PARAMETERS
END CHEMICAL PARAMETERS

START OUTPUT CONTROL
PRINT_TIME: 500
PLOT: TRUE
ENDPOINT: test.endpoint
PATHLINE: test.pathline
STORE_TIME: 100
END OUTPUT CONTROL
