START MODEL PARAMETERS
LBMODEL: 64x64.hdf5
LBRES: 1e-6
GRIDREF: 1
NCOLS: 200
AC: 1e-6
ITERS: 50000
TEMPERATURE: 298
TIMESTEP: 0.00001
END MODEL PARAMETERS

START PHYSICAL PARAMETERS
END PHYSICAL PARAMETERS 

START CHEMICAL PARAMETERS
I: 0.00001
END CHEMICAL PARAMETERS

START OUTPUT CONTROL
PRINT_TIME: 10000
PLOT: True
ENDPOINT: test.endpoint
PATHLINE: test.pathline
STORE_TIME: 100
END OUTPUT CONTROL
