START MODEL PARAMETERS
LBMODEL: Synth255.hdf5
LBRES: 1e-6
KERNAL: fortran
END MODEL PARAMETERS

START IMAGE PARAMETERS
SOLID: 255
VOID: 0
BOUNDARY: 3
IMAGE: 2D_256_255.png
END IMAGE PARAMETERS

START PERMEABILITY PARAMETERS
RHOT: 0.999
RHOB: 1.001
TAU: 1.00
NITERS: 201
END PERMEABILITY PARAMETERS

START OUTPUT CONTROL
SAVE_IMAGE: True
PLOT_Y_VELOCITY: TRUE
VERBOSE: 100
IMAGE_SAVE_FOLDER: 64ftestr
IMAGE_SAVE_INTERVAL: 10
VMAX: 0
VMIN: -0.05
END OUTPUT CONTROL
