START MODEL PARAMETERS
LBMODEL: 64f-tstr.hdf5
LBRES: 1e-6
KERNAL: fortran
END MODEL PARAMETERS

START IMAGE PARAMETERS
SOLID: 255
VOID: 0
BOUNDARY: 8
IMAGE: 2D_64_255.png
END IMAGE PARAMETERS

START PERMEABILITY PARAMETERS
RHOT: 1.001
RHOB: 0.999
TAU: 1.00
NITERS: 1000
END PERMEABILITY PARAMETERS

START OUTPUT CONTROL
SAVE_IMAGE: TRUE
VERBOSE: 200
IMAGE_SAVE_FOLDER: 64ftestr
IMAGE_SAVE_INTERVAL: 50
VMAX: 0.01
VMIN: 0.00001
END OUTPUT CONTROL
