START MODEL PARAMETERS
LBMODEL: 64x64.hdf5
LBRES: 1e-6
KERNAL: python
END MODEL PARAMETERS

START IMAGE PARAMETERS
SOLID: 255
VOID: 0
BOUNDARY: 8
IMAGE: 2D_64_255.png
END IMAGE PARAMETERS

START PERMEABILITY PARAMETERS
RHOT: 0.999
RHOB: 1.001
TAU: 1.00
NITERS: 201
END PERMEABILITY PARAMETERS

START OUTPUT CONTROL
SAVE_IMAGE: TRUE
PLOT_Y_VELOCITY: TRUE
VERBOSE: 100
IMAGE_SAVE_FOLDER: 64ftestr
IMAGE_SAVE_INTERVAL: 10
VMAX: 0.01
VMIN: 0.00001
END OUTPUT CONTROL
